$red-color: #dc3545;
$blue-color: #4d96ff;
$green-color: #6bcb77;
$yellow-color: #ffd93d;
$white-color: #fff;
$text-input-color: #81868c;
$primary-text-color: #000;
$border-input-color: #d2d2d2;
$background-input-color: #f3f4f6;
$delete-color: #ff6b6b;

