.main {
  width: 1024px;
  min-height: 440px;

  background-color: #fff;
  border-radius: 5px;

  margin: 32px auto;
  padding: 24px 32px;

  &__feature {
    display: flex;
    justify-content: space-between;
  }
}
