.main {
  width: 1024px;

  background-color: var(--white-color);
  border-radius: 5px;

  margin: 32px auto 28px;

  padding: 24px 32px;
}

.items-above-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 32px;
  margin-bottom: 4px;
}

.d-none {
  display: none;
}
