<div [class.d-none]="!isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>
<app-confirm-modal
  *ngIf="isConfirmModalOpen"
  [isConfirmModalOpen]="isConfirmModalOpen"
  (closeModalEvent)="handleCloseConfirmDelete()"
  (deleteEvent)="handleDeleteItem()"
></app-confirm-modal>
<div class="main">
  <app-tab (tabEvent)="handleTabClick($event)"></app-tab>
  <div class="items-above-list">
    <app-counter
      [totalItem]="totalItem"
      [countItem]="countItem"
      [itemState]="itemState"
    ></app-counter>
    <app-square-button
      (click)="onClickAddBtn()"
      [size]="'small'"
      [color]="'primary'"
      [text]="'Add'"
      [type]="'button'"
    ></app-square-button>
  </div>
  <app-list-item
    [itemArr]="itemArr"
    (deleteEvent)="handleDeleteClick($event)"
    (accomplishEvent)="handleAccomplish($event)"
    (editEvent)="handleEdit($event)"
  ></app-list-item>
</div>
