.list {
  margin-top: 32px;

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1.5px solid var(--border-input-color);
    border-radius: 5px;
    background-color: var(--background-input-color);

    padding: 8px 16px;
    margin-bottom: 8px;

    &__modify {
      display: flex;
      gap: 16px;
    }
  }

  &-item__title {
    display: flex;
    gap: 8px;

    font-size: 18px;
  }

  &-item__due {
    margin-top: 10px;

    font-size: 13px;
    font-style: italic;
  }
}

.d-none {
  display: none;
}
