@import "../../../../constants/variables";

@mixin item-btn($color) {
  width: 48px;
  height: 48px;

  border: none;
  border-radius: 48px;
  background-color: $color;

  text-align: center;

  & img {
    transform: translateX(11px);
  }
}

@mixin badge($background-color) {
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  padding: 0.4em 0.6em 0.3em;
  border-radius: 10rem;
  transform: translateY(-2.5px);

  color: $white-color;
  background-color: $background-color;
}

.list {
  margin-top: 28px;

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1.5px solid $border-input-color;
    border-radius: 5px;
    background-color: $background-input-color;

    padding: 8px 16px;
    margin-bottom: 8px;

    &__modify {
      display: flex;
      gap: 16px;
    }
  }

  &-item__title {
    display: flex;
    gap: 8px;

    font-size: 18px;
  }

  &-item__due {
    margin-top: 10px;

    font-size: 13px;
    font-style: italic;
  }
}

.badge-completed {
  @include badge($green-color);
}

.badge-warning {
  @include badge($red-color);

  margin-left: 3px;
}

.badge-active {
  @include badge($blue-color);
}

.complete-btn {
  @include item-btn($green-color);
}

.edit-btn {
  @include item-btn($yellow-color);
}

.delete-btn {
  @include item-btn($delete-color);
}

.d-none {
  display: none;
}
