<ul class="list">
  <li class="list-item" *ngFor="let item of itemArr">
    <div class="list-item__detail">
      <div class="list-item__title">
        <p>{{ item.name }}</p>
        <div [ngSwitch]="item.status">
          <span class="badge badge-completed" *ngSwitchCase="'completed'"
            >COMPLETED</span
          >
          <span class="badge badge-warning" *ngSwitchCase="'warning'"
            >WARNING</span
          >
          <span class="badge badge-active" *ngSwitchCase="'active'"
            >ACTIVE</span
          >
        </div>
      </div>

      <p class="list-item__due">
        Due: {{ item.due | date: "HH:mm dd/MM/YYYY" }}
      </p>
    </div>

    <div class="list-item__modify">
      <button
        class="complete-btn"
        (click)="onAccomplish(item)"
        [class.d-none]="item.status == 'completed'"
      >
        <img src="../../../assets/images/completeIcon.svg" alt="completeIcon" />
      </button>
      <button
        class="edit-btn"
        (click)="onEdit(item)"
        [class.d-none]="item.status == 'completed'"
      >
        <img src="../../../assets/images/editIcon.svg" alt="editIcon" />
      </button>
      <button class="delete-btn" (click)="onDelete(item.id)">
        <img src="../../../assets/images/deleteIcon.svg" alt="deleteIcon" />
      </button>
    </div>
  </li>
</ul>
