<ul class="list">
  <li class="list-item" *ngFor="let item of itemArr">
    <div class="list-item__detail">
      <div class="list-item__title">
        <p>{{ item.name }}</p>
        <div [ngSwitch]="item.status">
          <app-badge
            [color]="'success'"
            [text]="'COMPLETED'"
            *ngSwitchCase="'completed'"
          ></app-badge>
          <app-badge
            [color]="'primary'"
            [text]="'ACTIVE'"
            *ngSwitchCase="'active'"
          ></app-badge>
          <app-badge
            [color]="'danger'"
            [text]="'WARNING'"
            *ngIf="item.isWarning"
          ></app-badge>
        </div>
      </div>

      <p class="list-item__due">
        Due: {{ item.due | date: "HH:mm dd/MM/YYYY" }}
      </p>
    </div>

    <div class="list-item__modify">
      <app-round-button
        (click)="onAccomplish(item)"
        [class.d-none]="item.status == 'completed'"
        [color]="'success'"
        [iconSrc]="'../../../assets/images/completeIcon.svg'"
      ></app-round-button>
      <app-round-button
        (click)="onEdit(item)"
        [class.d-none]="item.status == 'completed'"
        [color]="'warning'"
        [iconSrc]="'../../../assets/images/editIcon.svg'"
      ></app-round-button>
      <app-round-button
        (click)="onDelete(item.id)"
        [color]="'danger'"
        [iconSrc]="'../../../assets/images/deleteIcon.svg'"
      ></app-round-button>
    </div>
  </li>
</ul>
