.squareBtn {
  border: none;
  border-radius: 5px;
  color: var(--white-color);
  font-family: "Roboto";

  &:hover {
    opacity: 0.8;
  }
}

.primary {
  background-color: var(--blue-color);
}

.secondary {
  background-color: var(--secondary-color);
}

.danger {
  background-color: var(--red-color);
}

.large {
  width: 336px;
  min-height: 32px;
  font-size: 13px;
  font-weight: 700;
}

.small {
  width: 90px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
}

.is-disabled {
  opacity: 0.65;
  pointer-events: none;
}
