<div *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>

<div class="backdrop"></div>

<div class="form-section">
  <form class="form" [formGroup]="addEditForm">
    <div class="clearfix" (click)="onCloseForm()">
      <img
        src="../../../../../assets/images/closeIcon.png"
        alt="close icon"
        class="close-icon"
      />
    </div>
    <p class="form__title">{{ formTitle }} item</p>
    <app-input-field
      [label]="'Name'"
      [hint]="'Item\'s name...'"
      [isInvalid]="name?.invalid && name?.touched"
      formControlName="name"
    ></app-input-field>
    <small class="text-danger" [class.d-none]="name?.valid || name?.untouched"
      >Name is required</small
    >

    <app-input-field
      [label]="'Due'"
      [type]="'datetime-local'"
      [isInvalid]="due?.invalid && due?.touched"
      formControlName="due"
    ></app-input-field>
    <small class="text-danger" [class.d-none]="due?.valid || due?.untouched"
      >Due is required</small
    >

    <app-square-button
      [size]="'large'"
      [color]="'primary'"
      [text]="'SUBMIT'"
      [type]="'submit'"
      [isDisabled]="!addEditForm.valid"
      class="form__btn"
      (click)="onSubmit()"
    ></app-square-button>
  </form>
</div>
