.form-section {
  transform: translateY(40%);
}

.app-title {
  color: var(--white-color);

  text-align: center;
  padding-top: 24px;
}

.form {
  width: 368px;
  height: 234px;

  background-color: var(--white-color);
  border-radius: 5px;

  margin-top: 20px;
  padding: 20px 16px;

  & .item-name {
    & label {
      @extend .item-label;
    }

    & input {
      @extend .item-input;
    }
  }

  & .item-due {
    margin-top: 4px;

    & label {
      @extend .item-label;
    }

    & input {
      @extend .item-input;
    }
  }

  & .form__btn {
    margin-top: 4px;

    width: 336px;
    height: 32px;

    border: none;
    border-radius: 5px;
    background-color: var(--blue-color);

    color: var(--white-color);
    font-size: 13px;
    font-weight: 700;
  }
}

.item-label {
  font-size: 16px;
  font-weight: 500;
}

.item-input {
  width: 336px;
  height: 32px;

  margin-top: 6px;
  padding: 0 8px;

  border-radius: 5px;
  border: 1px solid var(--border-input-color);
  background-color: var(--background-input-color);
  color: var(--text-input-color);
}

.is-invalid {
  border: 0.5px solid var(--red-color) !important;
}

.d-none {
  visibility: hidden;
}

.text-danger {
  color: var(--red-color);
  font-size: 11px;
  font-style: italic;
  margin-bottom: -16px;
}

.is-disabled {
  opacity: 0.65;
  pointer-events: none;
}
