.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

// Fix UI
.form-section {
  position: fixed;
  z-index: 1001;

  top: 20%;
  left: 38%;
}

.clearfix {
  overflow: auto;

  & .close-icon {
    width: 12px;
    height: 12px;
    float: right;

    &:hover {
      cursor: pointer;
    }
  }
}

.form {
  width: 368px;
  min-height: 280px;
  background-color: var(--white-color);
  border-radius: 5px;
  padding: 20px 16px;

  &__title {
    font-size: 28px;
    font-weight: 500;
    color: var(--text-color);
    text-align: center;

    margin-bottom: 16px;
    margin-top: 8px;
  }
}

.form__btn ::ng-deep .squareBtn {
  margin-top: 6px;
}
