@mixin btn($color) {
  width: 90px;
  height: 40px;

  border-radius: 5px;
  border: none;
  background-color: $color;

  color: var(--white-color);
  font-size: 16px;
  font-family: "Roboto";
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  z-index: 1001;
  transform: translate(10%, 100%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  width: 500px;
  height: 200px;

  background-color: var(--white-color);
  border-radius: 5px;

  &__title {
    font-weight: 500;
    font-size: 30px;
  }
}

.modalBtn {
  display: flex;
  gap: 24px;

  &__confirm {
    @include btn(var(--red-color));
  }

  &__cancel {
    @include btn(#6e7881);
  }
}
